body{
 
  background: linear-gradient(90deg, rgb(78, 78, 80) 0%, rgb(20, 20, 20) 35%, rgb(3, 3, 3) 100%);
  
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2%;
  padding: 20px 10.5%;
  background-color: #403435;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-bottom: 4px solid;
  border-image-source: linear-gradient(to right, #032352 0%, #080808 9%, #adb310 7%, #abd200 15%, #3634bb 17%, #091301 23%, #81ad6c 23%, #1800ec 31%, #121213 31%, #0f0702 38%, #b3c419 39%, #e2c523 46%, #030303 46%, #3a3885 54%, #4fb800 54%, #4fb800 62%, #009b77 62%, #009b77 57%, #008993 55%, #6a7879 57%, #251a8d 57%, #cab924 85%, #0ed328 85%, #00556a 72%, #033e52 82%, #000507 100%);
  border-image-slice: 1;
}

h1 {
  margin: 0;
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #ebeae7;
  font-size: 0.8cm;
  font-style: oblique;
}

#mainDiv {
  position: absolute;
  background-color: #86898a;
  width: 500px;
  height: 400px;
  top: 50%;
  left:50%;
  margin: -210px 0 0 -260px;
  padding: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.inp{
padding: 6px 12px;
margin: 50px;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
width: 500px;
justify-content: center;
flex-direction: column;
justify-content: center;
align-items: center;
color: #212529;
background-color: #97ccc9;
background-clip: padding-box;
border: 1px solid #ced4da;
appearance: none;
border-radius: 4px;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}




#submitID {
  position: absolute;
  width: 100px;
  left: 200px;
  top: 400px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: rgb(139, 33, 33);
  font-weight: bold;
  background-color: #050505;
}

#submitID:hover,
   #submitID:active {
    
    background-color: rgb(28, 29, 28);
    background-position: 0 0;
  }