body {
  background: linear-gradient(90deg, rgb(78, 78, 80) 0%, rgb(20, 20, 20) 35%, rgb(3, 3, 3) 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: oblique;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6%;
  padding: 20px 10.5%;
  margin-bottom: 2%;
  background-color: #403435;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-bottom: 4px solid;
  border-image-source: linear-gradient(to right, #032352 0%, #080808 9%, #adb310 7%, #abd200 15%, #3634bb 17%, #091301 23%, #81ad6c 23%, #1800ec 31%, #121213 31%, #0f0702 38%, #b3c419 39%, #e2c523 46%, #030303 46%, #3a3885 54%, #4fb800 54%, #4fb800 62%, #009b77 62%, #009b77 57%, #008993 55%, #6a7879 57%, #251a8d 57%, #cab924 85%, #0ed328 85%, #00556a 72%, #033e52 82%, #000507 100%);
  border-image-slice: 1;
}

h1 {
  margin-left: 0;
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #ebeae7;
  font-size: 0.8cm;
  font-style: oblique;
}
 
.nav {
  overflow: hidden;
  background-color: #333;
}

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: #04AA6D;
  color: white;
}



.desktop{
  background: black;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 3px solid rgb(253, 251, 251);
  border-radius: 5px;
  /* Allgemeine Angaben */
  width: 1000px;
  height: 801px;
  margin: -401px 0 0 -351px;
  padding: 20px;
}

#desk {
  background: rgb(1, 1, 7);
  
}

.par {
  padding: 30px;
  width: 450px;
  height: 600px;
  margin-top: 50px;
  color: #e9e6e6;
  padding: 0.5em 0 0.5em 2em;
  text-decoration: none; 
}

/* Nun für Geräte mit einer maximalen Breite von 1400px und einer minimalen Breite von 700px */
@media all and (max-width: 1400px) and (min-width: 700px) {
  .desktop {
    width: 750px;
    height: 500px;
    margin: -251px 0 0 -180px;
    padding: 10px;
  }
  .par {
    padding: 30px;
    width: 350px;
    height: 500px;
    margin-top: 50px;
    color: #e9e6e6;
    padding: 0.2em 0 0.2em 1em;
    text-decoration: none; 
    font-size: 0.9em; /* Ändere die Schriftgröße hier */
  }
  #join_session_div{
        
    background: transparent;
    position: relative;
    padding: 10px;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 7px;
    box-shadow: 0 4px 10px 4px rgba(38, 118, 179, 0.3);
}
#join_button{
background: #0f77d1; 
color: #ffffff
}
}
  
 


.def{ display: block;
   width: 100%;
   
   background:transparent;  }
  h1 {
    margin-left: 0;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ebeae7;
    font-size: 0.8cm;
    font-style: oblique;
  }


input {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
  }
  input:focus {
    outline: 0;
    border-color: #1ab188;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: rgba(185, 188, 191, 0.2) 0px 0px 24px 5px;
    border-radius: 5px;
    font-family: arial;
    overflow: auto;
    margin-bottom: 4rem;
  }
  table thead th {
    padding: 10px 16px;
    text-align: left;
    background-color: #f3f3f5;
  }
  table tbody tr td {
    padding: 10px 16px;
    border-bottom: 1px solid #eee;
  }
  
  
  
  .learning {
   position: relative;
  }
  
 
  
  h3{
    margin: 0px 30px 30px 0px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fffffe;
    font-size: 0.6cm;
    font-style: oblique;
    
  }  
  b{
    color: rgb(214, 65, 6);
  }    
  button{
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #050202;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  .hilfe{
    border-radius: 40px;
  }
  .next{
    border: 1px solid #76eb17;
    border-radius: 6px;
  }
  
  .next:hover,
  .next:active {
    
    background-color: rgb(1, 95, 22);
    background-position: 0 0;
  }
  
  .btnContainer {
    display: flex; 
    justify-content: start; 
    padding-left: 5rem;
    align-items: center; 
    gap: 4rem; 
    margin-top: 4%;
    color: white;
    order: 2;
  }
  
  .next:active {
    opacity: .5;
    color:white;
  }
  .next{
    border: 1px solid #76eb17;
    border-radius: 6px;
    color: white;
  }
  .back{
    border: 1px solid #d41c1c;
    border-radius: 6px;
    color: red;
  }
  .back:hover,
  .back:active {
    background-color: rgb(90, 1, 13);
    background-position: 0 0;
  }
  
  .back:active {
    opacity: .5;
  }
  
  .show {
    display: block;
  }
  
  .hidden {
    display: none;
  }

  #join_session_div{        
        background: transparent;
        position: relative;
        width: 400px;;
        padding: 10px;
        margin: 20px auto;
        border-radius: 7px;
        box-shadow: 0 4px 10px 4px rgba(38, 118, 179, 0.3);
  }
  #join_button{
    background: #0f77d1; 
    color: #ffffff
  }
  
  
 
  